language: node_js

cache:
  directories:
    - node_modules
  
branches:
  except:
    - /^v\d+\.\d+\.\d+$/

notifications:
  email: false

node_js:
  - '7'
  - '6'
  - '4'

before_script:
  - npm prune

script:
  - npm test

after_success:
  - npm run semantic-release
